# Data selection to reduce the original GovBR corpus

In [1]:
import pandas as pd
import numpy as np
import re
import unidecode
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer

#### Read data:

In [2]:
folha = pd.read_csv("../data/govbr/articles_folha/folhasp.csv")
df = pd.read_csv("../data/govbr/GovBR_users_corpus.csv", sep=';')

In [3]:
df = df.dropna()

In [22]:
folha

,title,text,date,category,subcategory,link
0,"Lula diz que está 'lascado', mas que ainda tem...",Com a possibilidade de uma condenação impedir ...,2017-09-10,poder,NaN,http://www1.folha.uol.com.br/poder/2017/10/192...
1,"'Decidi ser escrava das mulheres que sofrem', ...","Para Oumou Sangaré, cantora e ativista malines...",2017-09-10,ilustrada,NaN,http://www1.folha.uol.com.br/ilustrada/2017/10...
2,Três reportagens da Folha ganham Prêmio Petrob...,Três reportagens da Folha foram vencedoras do ...,2017-09-10,poder,NaN,http://www1.folha.uol.com.br/poder/2017/10/192...
3,Filme 'Star Wars: Os Últimos Jedi' ganha trail...,A Disney divulgou na noite desta segunda-feira...,2017-09-10,ilustrada,NaN,http://www1.folha.uol.com.br/ilustrada/2017/10...
4,CBSS inicia acordos com fintechs e quer 30% do...,"O CBSS, banco da holding Elopar dos sócios Bra...",2017-09-10,mercado,NaN,http://www1.folha.uol.com.br/mercado/2017/10/1...
...,...,...,...,...,...,...
167048,"Em cenário de crise, tucano Beto Richa assume ...",O tucano Beto Richa tinha tudo para começar se...,2015-01-01,poder,NaN,http://www1.folha.uol.com.br/poder/2015/01/156...
167049,Filho supera senador Renan Calheiros e assume ...,O economista Renan Filho (PMDB) assume nesta q...,2015-01-01,poder,NaN,http://www1.folha.uol.com.br/poder/2015/01/156...
167050,"Hoje na TV: Tottenham x Chelsea, Campeonato In...",Destaques da programação desta quinta-feira (1...,2015-01-01,esporte,NaN,http://www1.folha.uol.com.br/esporte/2015/01/1...
167051,Kim Jong-un diz estar aberto a se reunir com p...,"O líder norte-coreano, Kim Jong-un, disse nest...",2015-01-01,mundo,NaN,http://www1.folha.uol.com.br/mundo/2015/01/156...
167052,Heitor Maia Neto (1928 - 2014) - Pioneiro da a...,O projeto de que Heitor Maia Neto mais se orgu...,2015-01-01,cotidiano,NaN,http://www1.folha.uol.com.br/cotidiano/2015/01...

#### Filter folha corpus to the Politics content:

In [4]:
def combine(title, text):
    return ' '.join(title, text)

In [21]:
folha['category'].value_counts().index

Index(['poder', 'colunas', 'mercado', 'esporte', 'mundo', 'cotidiano',
       'ilustrada', 'opiniao', 'paineldoleitor', 'saopaulo', 'tec', 'tv',
       'educacao', 'turismo', 'ilustrissima', 'ciencia', 'equilibrioesaude',
       'sobretudo', 'bbc', 'folhinha', 'empreendedorsocial', 'comida',
       'asmais', 'ambiente', 'seminariosfolha', 'serafina',
       'o-melhor-de-sao-paulo', 'vice', 'guia-de-livros-discos-filmes',
       'topofmind', 'banco-de-dados', 'dw', 'especial', 'cenarios-2017',
       'infograficos', 'rfi', 'guia-de-livros-filmes-discos', 'multimidia',
       'treinamento', 'treinamentocienciaesaude', 'mulher', 'euronews',
       'ombudsman', 'contas-de-casa', 'musica', 'bichos', '2016', '2015'],
      dtype='object')

In [24]:
corpus = folha.loc[
    (folha['category'] == 'poder') | \
    (folha['category'] == 'mercado') | \
    (folha['category'] == 'mundo') | \
    (folha['category'] == 'opiniao') | \
    (folha['category'] == 'dw') | \
    (folha['category'] == 'euronews')][['title', 'text']]

corpus['content'] = corpus['title'] + ' ' + corpus['text']

corpus

,title,text,content
0,"Lula diz que está 'lascado', mas que ainda tem...",Com a possibilidade de uma condenação impedir ...,"Lula diz que está 'lascado', mas que ainda tem..."
2,Três reportagens da Folha ganham Prêmio Petrob...,Três reportagens da Folha foram vencedoras do ...,Três reportagens da Folha ganham Prêmio Petrob...
4,CBSS inicia acordos com fintechs e quer 30% do...,"O CBSS, banco da holding Elopar dos sócios Bra...",CBSS inicia acordos com fintechs e quer 30% do...
5,"Em encontro, Bono pergunta a Macri sobre argen...","O vocalista da banda irlandesa U2, Bono, fez u...","Em encontro, Bono pergunta a Macri sobre argen..."
6,"Posso sair do Brasil quando e como quiser, diz...",O italiano Cesare Battisti disse nesta segunda...,"Posso sair do Brasil quando e como quiser, diz..."
...,...,...,...
167045,Governador do RS inicia 2015 com quebra-cabeça...,O peemedebista José Ivo Sartori toma posse nes...,Governador do RS inicia 2015 com quebra-cabeça...
167046,"Apoiado pelos irmãos Gomes, petista toma posse...",Engenheiro agrônomo e servidor licenciado do I...,"Apoiado pelos irmãos Gomes, petista toma posse..."
167048,"Em cenário de crise, tucano Beto Richa assume ...",O tucano Beto Richa tinha tudo para começar se...,"Em cenário de crise, tucano Beto Richa assume ..."
167049,Filho supera senador Renan Calheiros e assume ...,O economista Renan Filho (PMDB) assume nesta q...,Filho supera senador Renan Calheiros e assume ...
167051,Kim Jong-un diz estar aberto a se reunir com p...,"O líder norte-coreano, Kim Jong-un, disse nest...",Kim Jong-un diz estar aberto a se reunir com p...

#### Generating the tf-idf for political related words:

In [25]:
nltk.download('stopwords')
stopwords = map(
    lambda _ : unidecode.unidecode(_),
    nltk.corpus.stopwords.words('portuguese')
)
stopwords = set(stopwords)

def cleaning(content):
    # Lower string
    new_content = content.lower()

    # Remove diacritics. Ex: replace ç -> c
    new_content = unidecode.unidecode(new_content)

    # Get only words and return
    return re.findall('([a-zA-Z]+)', new_content)


vec = TfidfVectorizer(
    tokenizer=cleaning,
    stop_words=stopwords,
)

X = vec.fit_transform([' '.join(corpus['content'])])

X

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\samuel.caetano\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

<1x165381 sparse matrix of type '<class 'numpy.float64'>'
	with 165381 stored elements in Compressed Sparse Row format>

In [26]:
vec.get_feature_names_out().shape

(165381,)

#### Organize selected tokens:

In [27]:
tfidf = pd.DataFrame(
    np.sum(X, axis=0),
    columns=vec.get_feature_names_out().tolist(),
)

tfidf = tfidf.T

tfidf

                0
C        0.000002
EUR      0.004216
PS       0.000469
SS       0.000093
aa       0.000088
...           ...
zypora   0.000002
zypries  0.000007
zysk     0.000005
zzyym    0.000002
zzzzzz   0.000002

[165381 rows x 1 columns]

In [28]:
proxy = tfidf[tfidf >= tfidf.mean()].dropna().index

proxy

Index(['EUR', 'PS', 'ab', 'abaaoud', 'abadi', 'abaixo', 'abalada', 'abalo',
       'abalou', 'abandona',
       ...
       'zelotes', 'zerar', 'zero', 'zika', 'zona', 'zonas', 'zoologico',
       'zuckerberg', 'zveiter', 'zwi'],
      dtype='object', length=14378)

#### Filter text from GovBR:

In [29]:
df

,Tweet_Id,User_Seq,Class,Created_At,Tweet_Type,Word_Count,Mentions,Text
0,1208848090704359424,1,for,Sun Dec 22 21:38:04 +0000 2019,Tweet,9,0,"Não vou rir, pois é errado zombar dos doentes."
1,1208909048428539904,1,for,Sun Dec 22 21:42:03 +0000 2019,Tweet,3,0,Seguindo imediatamente! 👍🇧🇷
2,1208852119828217856,1,for,Sun Dec 22 21:43:23 +0000 2019,Tweet,4,0,Esqueci desse detalhe KKKK
3,1208731700014067712,1,for,Sun Dec 22 22:02:36 +0000 2019,Tweet,3,0,Verdade! 👍
4,1208764004593754112,1,for,Sun Dec 22 22:05:16 +0000 2019,Tweet,6,0,"Muito rabo preso, eu não acredito!"
...,...,...,...,...,...,...,...,...
13540706,1290411228070916096,7155,against,Mon Aug 03 20:20:16 +0000 2020,Tweet,8,0,FOI PRESO POBRE... MAIOR ESTADISTA PORTUGUÊS !...
13540707,1290429064474513409,7155,against,Mon Aug 03 20:27:18 +0000 2020,Tweet,1,0,Ｆｅｃｈａｒ ｏｓ ｂａｎｃｏｓ.mp3
13540708,1290468731676700674,7155,against,Tue Aug 04 09:35:05 +0000 2020,Tweet,6,0,"Man, o flex do [papel], jesus."
13540709,1290724933241274368,7155,against,Tue Aug 04 16:02:59 +0000 2020,Reply,24,0,Take que absolutamente ninguém pediu: pôr quem...
13540710,1290724933241274368,7155,against,Tue Aug 04 16:04:45 +0000 2020,Tweet,6,0,Tenho treino de ⚔️ 🍆🍒 agora

In [30]:
proxy

Index(['EUR', 'PS', 'ab', 'abaaoud', 'abadi', 'abaixo', 'abalada', 'abalo',
       'abalou', 'abandona',
       ...
       'zelotes', 'zerar', 'zero', 'zika', 'zona', 'zonas', 'zoologico',
       'zuckerberg', 'zveiter', 'zwi'],
      dtype='object', length=14378)

In [31]:
from tqdm import tqdm_notebook

In [32]:
idxs = []
for idx, row in tqdm_notebook(df.dropna().iterrows(), total=df.shape[0], desc="Processing records"):
    
    text = set(cleaning(row['Text']))

    # Token appearance
    ta = sum([1 for token in text if token in proxy])

    try:
        score = ta / len(text)
    except ZeroDivisionError:
        score = 0
    
    if score > 0.25 and score < 1:
        idxs.append(idx)
        # print(idx, df.shape[0])# text, score, ta, len(text), )

c:\Users\samuel.caetano\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

Processing records:   0%|          | 0/13540676 [00:00<?, ?it/s]

In [35]:
idxs

[0,
 2,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 15,
 16,
 17,
 19,
 20,
 21,
 24,
 25,
 27,
 29,
 30,
 31,
 32,
 34,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 45,
 46,
 48,
 49,
 51,
 52,
 53,
 54,
 55,
 56,
 59,
 60,
 61,
 62,
 67,
 70,
 71,
 74,
 75,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 87,
 88,
 89,
 91,
 92,
 93,
 96,
 97,
 99,
 101,
 103,
 105,
 106,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 118,
 119,
 120,
 123,
 124,
 125,
 126,
 127,
 129,
 131,
 132,
 133,
 135,
 139,
 141,
 142,
 144,
 146,
 147,
 148,
 149,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 160,
 161,
 162,
 163,
 164,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 175,
 176,
 179,
 180,
 181,
 182,
 184,
 185,
 186,
 187,
 188,
 189,
 192,
 198,
 201,
 202,
 203,
 204,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 217,
 219,
 220,
 221,
 222,
 225,
 226,
 227,
 228,
 229,
 231,
 232,
 233,
 234,
 235,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 257,
 258,
 260,
 261,
 262,
 263,
 264,
 266,
 268,
 270,
 271,
 274,
 275,
 276,
 277,
 278,
 279,
 281,
 282,
 283,
 284,
 285,
 287,
 288,
 289,
 290,
 291,
 293,
 295,
 297,
 298,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 312,
 314,
 315,
 316,
 317,
 319,
 320,
 322,
 323,
 324,
 325,
 326,
 328,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 349,
 350,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 361,
 362,
 363,
 365,
 366,
 367,
 368,
 371,
 374,
 377,
 379,
 380,
 383,
 384,
 387,
 389,
 390,
 391,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 423,
 424,
 426,
 427,
 428,
 429,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 443,
 444,
 445,
 446,
 447,
 448,
 450,
 452,
 453,
 454,
 455,
 456,
 459,
 460,
 461,
 462,
 464,
 465,
 466,
 468,
 469,
 470,
 471,
 472,
 474,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 484,
 485,
 486,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 496,
 497,
 498,
 499,
 501,
 502,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 523,
 526,
 527,
 528,
 529,
 531,
 532,
 533,
 534,
 535,
 536,
 541,
 542,
 544,
 545,
 546,
 547,
 549,
 551,
 552,
 553,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 564,
 566,
 567,
 568,
 569,
 571,
 572,
 573,
 574,
 575,
 577,
 578,
 579,
 580,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 590,
 591,
 592,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 629,
 632,
 633,
 634,
 635,
 636,
 637,
 639,
 640,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 650,
 651,
 652,
 653,
 654,
 656,
 658,
 659,
 660,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 699,
 700,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 722,
 724,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 734,
 735,
 737,
 739,
 740,
 741,
 742,
 743,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 760,
 761,
 762,
 764,
 766,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 778,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 789,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 820,
 822,
 823,
 824,
 825,
 829,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 852,
 853,
 854,
 855,
 862,
 863,
 865,
 867,
 868,
 870,
 872,
 873,
 874,
 875,
 876,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 891,
 892,
 893,
 894,
 896,
 899,
 901,
 905,
 906,
 908,
 910,
 912,
 913,
 914,
 915,
 916,
 917,
 919,
 920,
 921,
 924,
 925,
 926,
 927,
 929,
 930,
 932,
 933,
 934,
 935,
 936,
 938,
 939,
 940,
 941,
 942,
 943,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 953,
 954,
 955,
 957,
 959,
 960,
 967,
 968,
 969,
 970,
 972,
 973,
 974,
 975,
 976,
 978,
 979,
 980,
 981,
 982,
 983,
 987,
 989,
 990,
 993,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1005,
 1009,
 1010,
 1013,
 1014,
 1015,
 1016,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1031,
 1032,
 1034,
 1036,
 1038,
 1039,
 1040,
 1042,
 1043,
 1044,
 1045,
 1050,
 1052,
 1053,
 1054,
 1055,
 1057,
 1058,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1070,
 1072,
 1074,
 1075,
 1076,
 1077,
 1078,
 1079,
 1080,
 1082,
 1083,
 1084,
 1086,
 1087,
 1088,
 1089,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1100,
 1102,
 1104,
 1105,
 1107,
 1108,
 1109,
 1110,
 1114,
 1115,
 1116,
 1118,
 1119,
 1121,
 1122,
 1124,
 1125,
 1127,
 1128,
 1129,
 1130,
 1132,
 1133,
 1134,
 1135,
 1136,
 1139,
 1140,
 1141,
 1142,
 1143,
 1144,
 1145,
 1150,
 1151,
 1153,
 1154,
 1155,
 1156,
 1158,
 1159,
 1160,
 1161,
 1163,
 1164,
 1166,
 1167,
 1168,
 1169,
 1170,
 1173,
 1174,
 1175,
 1176,
 1177,
 1178,
 1179,
 1180,
 1181,
 1182,
 1183,
 1186,
 1187,
 1188,
 1189,
 1190,
 1191,
 1193,
 1194,
 1196,
 1197,
 1198,
 1200,
 1201,
 1202,
 1203,
 1204,
 1205,
 1207,
 1208,
 1210,
 1215,
 1220,
 1222,
 1226,
 1230,
 1231,
 1232,
 1233,
 1236,
 1238,
 1239,
 1240,
 1241,
 1242,
 1244,
 1245,
 1246,
 1247,
 1248,
 1249,
 1250,
 1252,
 1253,
 1254,
 1255,
 1256,
 1259,
 1260,
 1265,
 1266,
 1267,
 1268,
 1269,
 1273,
 1274,
 1275,
 1276,
 1277,
 1278,
 1279,
 1280,
 1281,
 1282,
 1283,
 1284,
 1285,
 1287,
 1288,
 1289,
 1290,
 1293,
 1294,
 1295,
 1296,
 1297,
 1298,
 1299,
 1300,
 1301,
 1302,
 1303,
 1304,
 1305,
 1306,
 1307,
 1308,
 1309,
 1311,
 1312,
 1313,
 1314,
 1315,
 1316,
 1317,
 1319,
 1320,
 1321,
 1322,
 1323,
 1324,
 1325,
 1326,
 1327,
 1328,
 1329,
 1330,
 1331,
 1332,
 1333,
 1335,
 1336,
 1339,
 1340,
 1342,
 1343,
 1344,
 1345,
 1346,
 1347,
 1348,
 1349,
 1351,
 1352,
 1353,
 1354,
 1355,
 1356,
 1357,
 1358,
 1359,
 1360,
 1363,
 ...]

In [38]:
data = df[df.index.isin(idxs)].sample(4010)

data

,Tweet_Id,User_Seq,Class,Created_At,Tweet_Type,Word_Count,Mentions,Text
2345976,1276159970334126081,1357,for,Thu Jun 25 11:32:12 +0000 2020,Tweet,4,0,"Sem Lacombe, sem audiência!"
12787252,1255442152504594434,6807,against,Wed Apr 29 08:34:46 +0000 2020,Tweet,19,0,Gente esse senhor é tão esquesito. Parece semp...
12544360,1177621141386604548,6684,against,Fri Sep 27 13:28:53 +0000 2019,Tweet,5,0,Rumo a série B. …
9233525,1250155008118718466,5150,against,Tue Apr 14 17:33:06 +0000 2020,Reply,11,0,Finalmente tendo tempo para ver velhos álbuns ...
13502022,1201677274086592512,7140,against,Mon Dec 02 22:39:22 +0000 2019,Tweet,13,0,Aqui está uma música para você… Partners In Cr...
...,...,...,...,...,...,...,...,...
2214566,1290031513183166468,1285,for,Mon Aug 03 00:35:40 +0000 2020,Tweet,41,0,"Não é ideologia, é desconfiança dessa fixação ..."
7333614,1242589642349850627,4263,against,Tue Mar 24 20:10:31 +0000 2020,Tweet,29,0,"Com a demanda, o medo é piorar a qualidade dos..."
288117,71997041621999617,169,for,Sat May 21 14:53:27 +0000 2011,Tweet,11,0,"FRESNOnoSWU ??? por favor, cês tão querendo ""R..."
6726360,701799501779116036,3961,against,Mon Feb 22 13:03:34 +0000 2016,Tweet,21,0,Chamaram o Roger de coxinha no show dos Stones...
2211303,1277223162325893122,1281,for,Sun Jun 28 10:24:37 +0000 2020,Tweet,5,0,Vamos entao dar uma forcinha:

In [39]:
data['Class'].value_counts()

for        2015
against    1995
Name: Class, dtype: int64

#### Save selected to file:

In [40]:
data.to_csv('../data/govbr/GovBR.csv', index=False)

#### Split selected data between train and test:

In [41]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data['Text'], data['Class'], test_size=0.2)

X_train.shape, X_test.shape

((3208,), (802,))

In [52]:
train = pd.DataFrame(
    {
    'Text': X_train,
    'Class': y_train,
    }
)

test = pd.DataFrame(
    {
    'Text': X_test,
    'Class': y_test,
    }
)

In [53]:
train, test

(                                                       Text    Class
 11988523                                 Eita Deus bom esse  against
 10722119  Brasil supera média mundial e reduz 73% da mor...  against
 3957988   No dia em que milhares sairão às ruas em prol ...      for
 12322833  tá mas minha tia fez um bolo de aniversário pr...  against
 3348039   Fala mais...tem que cobrar cada centavo...inve...      for
 ...                                                     ...      ...
 10625544  Quando não se tem costas quentes como ser enge...  against
 927396                                 É agora ou nunca   …      for
 12088244  @  DEPUTADOS TIRAM A CLT DO POBRE MAS TEM 2 FÉ...  against
 9778672   A gestão de @ recuperou o sistema de esgotamen...  against
 2628774   Fonte     Ação pede que União obrigue China a ...      for

 [3208 rows x 2 columns],
                                                        Text    Class
 1980870                                  2 zero a esquerda.      for
 12399037            Se for o Ailton, pode apostar que sim.🤣  against
 5758103   Filho dele... Sobre um jogo de game que eles j...      for
 3193018   É o que deve ser feito. O presidente da Câmara...      for
 1884491   Isto me lembra dos anos 60/70. Um caminhão F.N...      for
 ...                                                     ...      ...
 3305067   Anos atrás.....esse era Sábio...mais um que mo...      for
 1016596                  APLAUSOS PARA @ TEM RAZÃO PQ O   …      for
 6152713                               Eficaz nem eficiente.      for
 5205807   Lamentável @ esta publicação!! Desse jeito voc...      for
 2475659   Desculpe, mas no momento precisamos de um pouc...      for

 [802 rows x 2 columns])

#### Convert 'for' label to 1, and 'against' to 0:

In [60]:
train['Class'].loc[train['Class'] == 'against'] = 0
train['Class'].loc[train['Class'] == 'for'] = 1

test['Class'] .loc[test['Class'] == 'against']= 0
test['Class'].loc[test['Class'] == 'for'] = 1

In [63]:
train.to_csv('../data/govbr/govbr.train.csv', index=False)
test.to_csv('../data/govbr/govbr.test.csv', index=False)